<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"/> -->

    <title>Startseite</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>

</head>
<body class="d-flex flex-column h-100">

<div th:replace="navbar :: navbar"></div>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Lernpfade mit kostenfreien Inhalten aus dem Web</h1>
        <p class="lead">
            Herzlich Willkommen bei EAGL, ein Proof of Concept für das Generieren von Vorschlägen für Lernpfade mit
            kostenfreien Lernhinhalten aus dem Web.

            Falls Sie diese Anwendung das erste Mal besuchen, melden Sie sich bitte an und verknüpfen ihre persönliche
            Wallet.

        </p>
    </div>
</main>

<div th:replace="footer :: footer"></div>


<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</body>
</html>